.messageSender{
    display: flex;
    margin-top:20px;    
    flex-direction: column;
    background-color: rgb(247, 236, 236);
    border-radius: 20px;
    box-shadow: 0px 5px 10px -7px rgb(14, 1, 1);
    width: 100%;
}
.messageTop{
    display: flex;
    border-bottom: 1px solid white;

    padding:15px;
    
}
.messageTop>form{
    flex:1;
    display: flex;
}
.messageTop>form>input{
    outline-width: 0;
    border: none;
    padding: 0 5px;
    border-radius: 10px;
    margin: 0 10px;
    background-color: rgb(199, 197, 197);
}
.msg_fileSelector{
    width: 20%;
}
.messageTop>form>button{
    height: 0;
    width: 0;
    background-color: transparent;
    color : transparent;
    border: none;

}
.msgInput{
    flex:1;
  
}

.msgBottom{
    display: flex;
    justify-content: space-evenly;
}

.msgOption{
    display: flex;
    padding: 20px 20px;
    align-items: center;
    color:black;
    margin:10px 10px;
}
.msgOption:hover{
    border-radius: 10px;
    background-color: rgb(179, 218, 218);
}
.msgOption>h3{
    color:rgb(110, 87, 105);
    font-size: medium;
    margin-left: 10px;
}