.Post{
    width: 100%;
    background-color: rgb(202, 231, 245);
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0px 5px 10px -7px rgba(0,0,0,0.7);
}

.PostTop{
    display: flex;
    align-items: center;
    position: relative;
    padding:15px;
}
.postAvatar{
    margin-right: 10px;
}
.postTopInfo>h3{
    font-size: medium;
}
.postTopInfo>p{
    font-size: small;
    color:gray;
}
.postOptions{
    padding:15px;
    border-top: 1px solid lightgray;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color:gray;

}
.postOption{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    float: 1;
}
.postOption>p{
    margin-left: 10px;
}
.postOption:hover{
    background-color: white;
    border-radius: 10px;
}
.post_bottom{
margin-top: 10px;
margin-bottom: 10px;
padding : 15px 25px;
}
