.SideBarrow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.SideBarrow>p{
    margin-left: 20px;
    font-weight: 600;
}
.SideBarrow:hover{
    background-color: rgb(255, 219, 219);
    border-radius: 10px;
}
.SideBarrow>.MuiSvgIcon-root{
    font-size: 20px;
    color:rgb(118, 188, 253);
}

